<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Phoenix</title>

    {{!-- dropzone --}}

    <link href="dist/dropzone.css" rel="stylesheet">
    <script src="dist/dropzone.js"></script>
    {{!-- dropzone --}}



    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">

    <style type="text/css">
        .view,
        body,
        html {
            height: 100%
        }

        @media (max-width:740px) {
            .full-page-intro {
                height: 1000px
            }
        }

        .carousel {
            height: 50%
        }

        .carousel .carousel-inner,
        .carousel .carousel-inner .active,
        .carousel .carousel-inner .carousel-item {
            height: 100%
        }

        @media (max-width:776px) {
            .carousel {
                height: 100%
            }
        }

        .navbar {
            background-color: rgba(0, 0, 0, .2)
        }

        .page-footer,
        .top-nav-collapse {
            background-color: #1C2331
        }

        @media only screen and (max-width:768px) {
            .navbar {
                background-color: #1C2331
            }
        }

        html,
        body,
        header,
        .view {
            height: 100%;
        }

        @media (max-width: 740px) {

            html,
            body,
            header,
            .view {
                height: 1050px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {

            html,
            body,
            header,
            .view {
                height: 700px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331 !important;
            }
        }
    </style>
    <style>
        .uploadText {
            text-align: center;
            color: white;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            ;
            ;

        }
    </style>


</head>

<body>

    <!-- Start your project here-->

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar"
        style="background-color:#21260F	; height:70px">
        <div class="container">

            <!-- Brand -->

            <a class="navbar-brand" href="/home" target="_blank" style=" font-family: azonix; font-size: 22px; ">
                {{!-- <strong>Phoenix</strong> --}}
                <span class="brand-text">PHO</span>
                <large style="font-size: 30px;">E</large><span class="brand-text">NIX</span>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">My Intellectual Property</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" target="_blank">
                            My Request
                        </a>
                    </li>
                    <li class="nav-item active">
                        {{!-- <a class="nav-link" href="#" target="_blank"> --}}
                        <a class="nav-link border border-light rounded" href="/home" target="_blank">
                            Upload Here
                        </a>
                    </li>
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    <li class="nav-item">
                        <a href="/register" class="nav-link border border-light rounded" target="_blank">
                            <i class="fa fa-user mr-2"></i>Logout
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <!-- Navbar -->

    <!-- Full Page Intro -->
    <div class="view full-page-intro" style="height:100%;width: 100%;">

        <!--Video source-->
        <video class="video-intro" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/Lines-min.mp4" type="video/mp4">

            {{!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> --}}
        </video>

        <!-- Mask & flexbox options-->
        <div class="mask rgba-blue-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">
                <h3 class="uploadText">Shahjalal University of Science and Technology (SUST) was established in 1986.
                    The only
                    university of its
                    kind at
                    that
                    time, it started it''s journey on the 13th of February 1991 with only three departments: Physics,
                    Chemistry
                    and
                    Economics, 13 teachers and 205 students. It has now expanded to 7 schools, 27 departments , 2
                    institutes and
                    and
                    centers. The number of teachers has grown to 552 and the students to 10922. Besides, the University
                    has 13
                    affiliated
                    colleges under the School of Medical Sciences with 4000 students.</h3>
                <div>
                    <br>
                </div>
                <!--Grid row-->
                <div id="dropzone">

                    <div class="col-md-16 mb-5" style="margin-left: 12%;margin-right: 12%;  border-style: solid;
          border-color: green;">
                        <form class="dropzone needsclick" id="my-awesome-dropzone" action="/upload" method="POST"
                            enctype="multipart/form-data">
                            <input name="file" type="file" form="my-awesome-dropzone" multiple hidden />
                            <div class="dz-message needsclick">
                                <p><i class="fas fa-file-upload" style="font-size:40px;"></i></p>
                                <p>Drop files here or click to upload.</p>
                                <br />
                            </div>
                        </form>

                    </div>
                    <button style="left: 425px; width: 250px;" class="btn btn-elegant" aria-pressed="true"
                        form="my-awesome-dropzone">Upload</button>
                </div>

            </div>
            <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

    </div>
    <!-- Full Page Intro -->

    <!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
        <br>
        <h4 class="float:center">Shahjalal University of Science and Technology</h4>
        <!--Call to action-->
        <div class="pt-4">
            <p>Shahjalal University of Science and Technology (SUST) was established in 1986. The only university of its
                kind at that
                time, it started it''s journey on the 13th of February 1991 with only three departments: Physics,
                Chemistry and
                Economics, 13 teachers and 205 students. It has now expanded to 7 schools, 27 departments , 2 institutes
                and and
                centers. The number of teachers has grown to 552 and the students to 10922. Besides, the University has
                13 affiliated
                colleges under the School of Medical Sciences with 4000 students.</p>
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-facebook mr-3"></i>
            </a>

            <a href="https://twitter.com" target="_blank">
                <i class="fa fa-twitter mr-3"></i>
            </a>

            <a href="https://www.youtube.com" target="_blank">
                <i class="fa fa-youtube mr-3"></i>
            </a>

            <a href="https://plus.google.com" target="_blank">
                <i class="fa fa-google-plus mr-3"></i>
            </a>

            <a href="https://dribbble.com" target="_blank">
                <i class="fa fa-dribbble mr-3"></i>
            </a>

            <a href="https://pinterest.com" target="_blank">
                <i class="fa fa-pinterest mr-3"></i>
            </a>

            <a href="https://github.com" target="_blank">
                <i class="fa fa-github mr-3"></i>
            </a>

            <a href="http://codepen.io" target="_blank">
                <i class="fa fa-codepen mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 CSE, SUST. All rights reserved.
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!-- Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</body>

</html>