<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Phoenix</title>
    <link rel="shortcut icon" type="image/png" href="img/sust.png" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">

    <style type="text/css">
        .view,
        body,
        html {
            height: 100%
        }

        @media (max-width:740px) {
            .full-page-intro {
                height: 1000px
            }
        }

        .carousel {
            height: 50%
        }

        .carousel .carousel-inner,
        .carousel .carousel-inner .active,
        .carousel .carousel-inner .carousel-item {
            height: 100%
        }

        @media (max-width:776px) {
            .carousel {
                height: 100%
            }
        }

        .navbar {
            background-color: rgba(0, 0, 0, .2)
        }

        .page-footer,
        .top-nav-collapse {
            background-color: #1C2331
        }

        @media only screen and (max-width:768px) {
            .navbar {
                background-color: #1C2331
            }
        }

        html,
        body,
        header,
        .view {
            height: 100%;
        }

        @media (max-width: 740px) {

            html,
            body,
            header,
            .view {
                height: 1050px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {

            html,
            body,
            header,
            .view {
                height: 700px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331 !important;
            }
        }
    </style>


</head>

<body>

    <!-- Start your project here-->
    {{!-- <header> --}}

    <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar"
            style="background-color:#21260F	; height:55px">

    {{!-- <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar"> --}}
        <div class="container">

            <!-- Brand -->

            <a class="navbar-brand" href="/"  style=" font-family: azonix; font-size: 22px; ">
                {{!-- <strong>Phoenix</strong> --}}
                <span class="brand-text">PHO</span><large style="font-size: 30px;">E</large><span class="brand-text">NIX</span>
            </a>

            <!-- Collapse -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <!-- Left -->
                <ul class="navbar-nav mr-auto">
                    {{!-- <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mdbootstrap.com/material-design-for-bootstrap/"
                            target="_blank">About Phoenix</a>
                    </li> --}}
                    {{!-- <li class="nav-item">
                        <a class="nav-link" href="https://mdbootstrap.com/getting-started/" target="_blank">Free
                            download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank">Free
                            tutorials</a>
                    </li> --}}
                </ul>

                <!-- Right -->
                <ul class="navbar-nav nav-flex-icons">
                    {{!-- <li class="nav-item">
                        <a href="https://www.facebook.com/mdbootstrap" class="nav-link" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://twitter.com/MDBootstrap" class="nav-link" target="_blank">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/mdbootstrap/bootstrap-material-design" class="nav-link"
                            target="_blank">
                            <i class="fa fa-github mr-2"></i>
                        </a>
                    </li> --}}
                    <li class="nav-item">
                        <a href="/login" class="nav-link border border-light rounded">
                            <i class="fa fa-user mr-2"></i>Log In
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" target="_blank">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/register" class="nav-link border border-light rounded">
                            <i class="fa fa-user mr-2"></i>Sign Up
                        </a>
                    </li>
                </ul>

            </div>

        </div>
    </nav>
    <!-- Navbar -->

    <!-- Full Page Intro -->
    <div class="view full-page-intro" style="height:100%;width: 100%;">

        <!--Video source-->
        <video class="video-intro" autoplay loop muted>
            <source src="https://mdbootstrap.com/img/video/Lines-min.mp4" type="video/mp4">

            {{!-- <source src="https://mdbootstrap.com/img/video/animation-intro.mp4" type="video/mp4" /> --}}
        </video>

        <!-- Mask & flexbox options-->
        <div class="mask rgba-blue-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="container">

                <!--Grid row-->
                <div class="row d-flex h-100 justify-content-center align-items-center wow fadeIn">

                    <!--Grid column-->
                    <div class="col-md-6 mb-4 white-text text-center text-md-left">

                        <h1 style=" font-family: azonix;" class="display-4 font-weight-bold">Intellectual Property</h1>

                        <hr class="hr-light">

                        <p>
                            <strong>Phoenix is a platform that enables the formal verification of Intellectual Property by the Hyperledger Fabric
                            framework.</strong>

                        </p>

                        <p class="mb-4 d-none d-md-block">
                            <strong>When an IP property is created then we check by the evidence of the creator-ship for authentication.By checking the evidence of any IP, if it is not previously created then we will register it into a new block and will give the owner clearance of IP rights.By using digital signature , we will provide the digital rights of any owner</strong>
                        </p>

                        {{!-- <a target="_blank" href="https://mdbootstrap.com/bootstrap-tutorial/"
                            class="btn btn-outline-white">Start free tutorial
                            <i class="fa fa-graduation-cap ml-2"></i>
                        </a>
                        <a target="_blank" href="https://mdbootstrap.com/getting-started/"
                            class="btn btn-outline-white">Download MDB
                            <i class="fa fa-download ml-2"></i>
                        </a> --}}

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 col-xl-5 mb-4">
                    
                        <!--Card-->
                        <div class="card">
                    
                            <!--Card content-->
                            <div class="card-body">
                    
                                <!-- Form -->
                                <form name="" action="/login" method="POST">
                                    <!-- Heading -->
                                    <h3 class="dark-grey-text text-center">
                                        <strong>Log In</strong>
                                    </h3>
                                    <hr>
                    
                                    <div class="md-form">
                                        <i class="fas fa-envelope prefix"></i>
                                        <input type="email" id="inputValidationEx2" name="email" class="form-control" required>
                                        <label for="inputValidationEx2" data-error="wrong" data-success="right">Enter Your e-mail address</label>
                                    </div>
                                    <div class="md-form">

                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="inputValidationEx3" name="password" class="form-control" required>
                                        <label for="inputValidationEx3" data-error="wrong" data-success="right">Enter a password</label>

                                        <input  type="checkbox" onclick="myFunction()" style="position: relative;right: 15px;" >
                                        <h6 align="center">Show Password</h6>
                                        <script>
                                            function myFunction() {
                                                var x = document.getElementById("inputValidationEx3");
                                                if (x.type === "password") {
                                                    x.type = "text";
                                                } else {
                                                    x.type = "password";
                                                }
                                            }
                                        </script>

                                    </div>
                    
                                    {{!-- <div class="md-form">
                                        <i class="fas fa-pencil-alt prefix grey-text"></i>
                                        <textarea type="text" id="form8" class="md-textarea"></textarea>
                                        <label for="form8">Your message</label>
                                    </div> --}}
                    
                                    <div class="text-center">
                                        <button class="btn btn-indigo">Submit</button>
                                        <hr>
                                        <fieldset class="form-check">
                                            {{!-- <input type="checkbox" class="form-check-input" id="checkbox1"> --}}
                                            <label for="checkbox1" class="form-check-label dark-grey-text">Don't have an account ? Click <a  href="/register" style="color: green;" ><b>here</b></a>  to register</label>
                                        </fieldset>
                                    </div>
                    
                                </form>
                                <!-- Form -->
                    
                            </div>
                    
                        </div>
                        <!--/.Card-->
                    
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>
            <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

    </div>
    <!-- Full Page Intro -->

    {{!-- </header> --}}


    <!--Footer-->
    <footer class="page-footer text-center font-small mt-4 wow fadeIn">
        <br>
        <h4 class="float:center">Shahjalal University of Science and Technology</h4>
        <!--Call to action-->
        <div class="pt-4">
            <p>Shahjalal University of Science and Technology (SUST) was established in 1986. The only university of its
                kind at that
                time, it started it''s journey on the 13th of February 1991 with only three departments: Physics,
                Chemistry and
                Economics, 13 teachers and 205 students. It has now expanded to 7 schools, 27 departments , 2 institutes
                and and
                centers. The number of teachers has grown to 552 and the students to 10922. Besides, the University has
                13 affiliated
                colleges under the School of Medical Sciences with 4000 students.</p>
            {{!-- <a class="btn btn-outline-white" href="https://mdbootstrap.com/getting-started/" target="_blank"
                role="button">Download MDB
                <i class="fa fa-download ml-2"></i>
            </a>
            <a class="btn btn-outline-white" href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"
                role="button">Start free tutorial
                <i class="fa fa-graduation-cap ml-2"></i>
            </a> --}}
        </div>
        <!--/.Call to action-->

        <hr class="my-4">

        <!-- Social icons -->
        <div class="pb-4">
            <a href="https://www.facebook.com" target="_blank">
                <i class="fa fa-facebook mr-3"></i>
            </a>

            <a href="https://twitter.com" target="_blank">
                <i class="fa fa-twitter mr-3"></i>
            </a>

            <a href="https://www.youtube.com" target="_blank">
                <i class="fa fa-youtube mr-3"></i>
            </a>

            <a href="https://plus.google.com" target="_blank">
                <i class="fa fa-google-plus mr-3"></i>
            </a>

            <a href="https://dribbble.com" target="_blank">
                <i class="fa fa-dribbble mr-3"></i>
            </a>

            <a href="https://pinterest.com" target="_blank">
                <i class="fa fa-pinterest mr-3"></i>
            </a>

            <a href="https://github.com" target="_blank">
                <i class="fa fa-github mr-3"></i>
            </a>

            <a href="http://codepen.io" target="_blank">
                <i class="fa fa-codepen mr-3"></i>
            </a>
        </div>
        <!-- Social icons -->

        <!--Copyright-->
        <div class="footer-copyright py-3">
            © 2019 CSE, SUST. All rights reserved.
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->
    <!-- Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
        // Animations initialization
        new WOW().init();
    </script>
</body>

</html>